* {
  box-sizing: border-box;
  --mdc-theme-primary: green;
  --mdc-switch-selected-track-color: grey;
}

body {
  margin: 0;
  padding: 0;
}

.hidden {
  display: none !important;
}

.content {
  margin: 0 16px 20px 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.center {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.instructions {
  color: gray;
}

.credential {
  margin: 10px 0 20px 0;
  padding: 10px;
  
  > span {
    overflow: hidden;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;    
  }
}

mwc-button {
  margin: 8px 0;
  
  a {
    text-decoration: none;
    color: inherit;
  }
}

.iframe-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.iframe-container iframe {
    border: none;
}


.config-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.config-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  width: 100%;
}

.config-item label {
  font-weight: bold;
  margin-bottom: 5px;
}

.config-item mwc-switch {
  width: 100%;
}

.config-item mwc-select {
  width: 100%;
}

.config-item mwc-textfield {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .config-item {
    flex-direction: row;
    align-items: center;
  }

  .config-item label {
    margin-bottom: 0;
    margin-right: 20px;
    width: 30%;
    text-align: left;
  }
  
  .config-item mwc-switch
  .config-item mwc-select
  .config-item mwc-textfield {
    width: 70%;
  }
}