* {
  box-sizing: border-box;
  --mdc-theme-primary: green;
}

body {
  margin: 0;
  padding: 0;
}

.hidden {
  display: none !important;
}

.content {
  margin: 0 16px 20px 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.center {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.instructions {
  color: gray;
}

.credential {
  margin: 10px 0 20px 0;
  padding: 10px;
  
  > span {
    overflow: hidden;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;    
  }
}

mwc-button {
  margin: 8px 0;
  
  a {
    text-decoration: none;
    color: inherit;
  }
}

iframe {
  border: none;
  width: 500px;
  height: 300px;
}

.config-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.config-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  width: 100%;
}

.config-item label {
  font-weight: bold;
  margin-bottom: 5px;
}

.config-item input,
.config-item select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.config-item mwc-switch {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f2f2f2;
  outline: none;
}

@media screen and (min-width: 768px) {
  .config-item {
    flex-direction: row;
    align-items: center;
  }

  .config-item label {
    margin-bottom: 0;
    margin-right: 20px;
    width: 30%;
    text-align: left;
  }

  .config-item input,
  .config-item select {
    width: 70%;
  }
}